@import './shared/fonts';

html,
body,
* {
    font-family: 'Roboto', 'Helvetica';
}

.div_list {
    display: block;
    background-color: #1d3557;
    color: white;
    width: 100%;
    padding: 0.2rem;
}

.div_list__container {
    width: 15vw;
}

@media (max-width: 420px) {
    /* Selectors and styles affecting screens UP TO 420px (Mobile) */

    .div_list__container {
        width: 45vw;
    }

}

.icon {
    color: white;
}

p,
h2,
h1 {
    color: white;
}

.hidden {
    color: transparent;
    background: transparent;
    opacity: 0;
}